:root {
  --main-colour: rgb(64, 0, 107);
  --background-colour: rgb(181, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

header {
  height: 20px;
  background-color: var(--main-colour);
  text-align: center;
}

footer {
  height: 20px;
  background-color: var(--main-colour);
  text-align: center;
  color: black;
}

section {
  min-height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.max-all-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-input-fields {
  position: relative;
}

.max-input-label {
  position: absolute;
  font-size: 12px;
  left: 10px;
  margin-top: 10px;
  color: rgb(158, 158, 158);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.max-input-label.max-show-label {
  margin-top: -15px;
  opacity: 1;
}

.max-title {
  color: rgb(19, 8, 2);
  font-size: 70px;
  margin-top: 30px;
}

.max-task-list-input {
}

.max-salary-input {
}

.max-input {
  background-color: var(--background-colour);
  border: none;
  width: 100%;
  padding: 10px;
}

.max-input:focus {
  outline: none;
  background-color: aquamarine;
}

.max-button {
  background-color: rgb(41, 0, 117);
  padding: 0 20px;
  border: none;
  color: #fff;
  justify-content: center;
  font-size: 15px;
}

.max-button:hover {
  background-color: rgb(61, 18, 139);
}

.max-warning-message {
  color: rgba(238, 14, 14, 0.897);
}

.max-input-container {
  position: relative;
  width: 500px;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 5px;
}

.max-input-container > .max-warning-message {
  position: absolute;
  bottom: 0;
}

.max-check-box {
  transform: scale(2);
}

.max-shopping-list {
  position: relative;
  margin-top: 30px;
  font-size: 30px;
}

.max-task-item-remove {
  padding: 7px;
  background-color: red;
  border-radius: 5px;
  font-size: bold;
  margin-left: 20px;
}

.max-task-list-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.max-cross-out-item {
  text-decoration: line-through;
}
